<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="./css/video.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Hammersmith+One" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="js/mysqldb.js"></script> <!--browserify js/mysqldb.js to use function "require"-->
    <script src="js/sceneMap.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrWfgV41mN7o4RwKS3-bCKLa9H0J7IVfk&libraries=places&callback=initMap"
            async
            defer></script>

    <title>Video Results</title>
</head>
<body>
    
    <div class="split left">
        <h2><span class="name">Featured</span></h2>
        <% prodList.forEach(funtion(item, index)){ %>
        <div>
            <!--div style="width: 60%; height: 11rem; float:left" id="nearbyImg">
                <a href="" id="link" target="_blank">
                    <img id="img"
                         style="max-width:100%;
                max-height:100%;" />
                </a>
            </div-->
            <span class="title"><%= item.video_Link %></span>
        </div>
        <% }); %>
    </div>
    <div class="split right">
        <div id="map"></div>
    </div>
</body>
</html>
