/* .main {
  position: fixed;
  top: 1rem;
  bottom: 0;
  right: 0;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
  height: 100%;
} */

.main {
    border: none;
    position: absolute;
    bottom: 0;
    height: 
}

.container {
  height: 100vh;
}

body {
  margin: 0;
}

#cat{
    border: 1px solid black;
    height:2rem;
}