@import url(https://fonts.googleapis.com/css?family=Patua+One);

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: 'Hammersmith One', 'sans-serif';
  color: #35B9C5;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

h1 {
  font-family: 'Hammersmith One', 'sans-serif';
  color: #35B9C5;
  align-self: center;
  width
}

body {
  align-content: center;
}

label {
  font-size: 20px;
  font-family: 'Hammersmith One', 'sans-serif';
  margin-right: 10px;
  width: 150px;
}

ul {
  list-style-type: none;
  justify-self: center;
  margin-left: 200px;
}

li {
  margin-top: 20px;
}

select {
  font-family: 'Hammersmith One', 'sans-serif';
  font-size: 18px;
  margin-right: 10px;
}

input[type="submit"]{
  background-color: #c66;
  color: #fff;
  font-size: 20px;
  font-family: 'Hammersmith One', 'sans-serif';
  padding-left: 20px;
  padding-right: 20px;
}

input[type="time"], input[type="number"]{
  width: 120px;
  text-align: center;
  font-family: 'Hammersmith One', 'sans-serif';
  font-size: 18px;
  margin-right: 10px;
}

input[type="text"] {
  width: 350px;
  font-family: 'Hammersmith One', 'sans-serif';
  font-size: 18px;
  margin-right: 10px;
  padding-left: 10px;
}

small {
  font-family: 'Hammersmith One', 'sans-serif';
  font-size: 14px;  
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    opacity: 1;
}

input[type='time']::-webkit-inner-spin-button, 
input[type='time']::-webkit-outer-spin-button { 
    opacity: 1;
}

.icon{
  margin-right: 5px;
}

div {
  margin-top: 10px;
  margin-bottom: 20px
}
