span.name {
  font-family: "Hammersmith One", "sans-serif";
  color: #35b9c5;
  font-size: vh7;
}

p.detail {
  font-family: "Hammersmith One", "sans-serif";
  color: #d687e3;
  font-size: 7vh;
  margin-bottom:  1vh;
  margin-top: 2.5vh;
}
